:root {
    --one: #005533;
    --two: #002a19;
    --three: #00804c;
    --four: #00ff98;
}

.App {
    text-align: center;
    background-color: var(--one);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title-container {
    padding: 20px;
    background-color: var(--two);
    color: var(--four);
}

.predictioncontainer {
    width: 1000px;
    height: 300px;
    margin: auto;
    background-image: url(./images/background1.jpg);
    background-size: cover;
    /* height: 300px; */
    border: 1px solid rgba(18, 72, 107, 0.68);
    border-radius: 5px;
    box-shadow: 3px 3px 12px -4px rgba(0, 0, 0, 0.84);
}
